<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LightningGathering"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCjn9WHJjvBZe03HS-hfG1pIOVhjchHBHk" />
        <activity
            android:name=".MyPage"
            android:exported="false" />
        <activity
            android:name=".GatheringDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ItemPost"
            android:exported="false" />
        <activity
            android:name=".MeetingActivity"
            android:exported="true" />
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity
            android:name=".GatheringRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
        <activity
                android:name=".NaviActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.theme.MapActvity"
            android:exported="false"
            android:label="@string/title_activity_map_actvity"
            android:theme="@style/Theme.LightningGathering" />
    </application>

</manifest>